* {
  margin: 0;
  padding: 0;
}

.bodyCarousel {
  max-width: 30%;
  flex-grow: 1;
  margin: 10rem auto;

  // .headerCarousel {
  // }

  .styleTransition {
    img {
      margin: auto;
    }
  }
}
